* {
	box-sizing: border-box;
}
html { 
	font-size: 62.5%;
}
body {
	font-family: 'Cambria', 'Georgia', serif;
	font-size: 1.5em;
	line-height: 1.8em;
	color: rgb(9, 31, 37);
	padding: 2em;
	counter-reset: headings figures schemes;
}


h1, h2, h3, h4 {
	font-weight: normal;
}
	h2 {
		margin-bottom: 0;
		padding-bottom: 1em;
	}

p {
	text-align: justify;
}

figure {
	margin: 0;
}


section {
	padding: 6em 0;
}
	section:nth-child(2n) {	
		background: rgb(240, 244, 245);
	}
	.layout {
		max-width: 1200px;
		padding: 0 100px;
		margin: 0 auto;
	}
		.layout:after {
			content: " ";
			display: table;
			clear: both;
		}
	section h2 {
		font-size: 1.8em;
		color: rgb(235, 21, 21);
		counter-increment: headings;
	}
		section h2:before {
			color: #999;
			content: counter(headings) ". ";
		}

.title {
	text-align: center;
	padding: 8em 0;
	
}
	.title h1 {
		font-size: 2.8em;
		line-height: 1.8em;
	}
	.title p {
		text-align: center;
		font-size: 1.2em;
		color: rgba(0,0,0,0.6);
	}


.abstract {
	font-style: italic;
	font-size: 1.1em;
}
	.abstract .layout {
		padding: 0 10em;
	}


.intersections .layout {
}
	.one-third {
		float: left;
		width: 30%;
	}
		.layout .one-third:nth-child(3) {
			margin: 0 5%
		}
	.intersections h3 {
		font-size: 1.1em;
		counter-increment: schemes;
	}
		.intersections h3:before {
			color: #999;
			content: counter(schemes) ". ";
		}

.analysis .layout {
}
	.scenario {
	}
		.scenario .graph {
			text-align: center;
			margin: 0 -100px;
		}

.summary .layout {
	
}



.two-columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 4rem;
}


.aside-left {
	float: left;
	margin: 2em 3em 2em -100px;
}
.aside-right {
	float: right;
	margin: 2em -100px 2em 3em;
}
	aside.patches-distance {
		width: 184px;
	}
	aside.possible-extensions {
		width: 400px;
	}



.todo {
	font-size: 0.6em;
	color: #666;
	display: inline-block;
	border: 1px solid rgba(255,0,0,0.5);
	padding: 0 0.5em;
}
	.todo:before {
		content: 'TODO: ';
	}

figure {
	counter-increment: figures;
}
	figure img {
		max-width: 100%;
	}
	figcaption {
		font-size: 0.9em;
	}
	figcaption:before {
		font-style: italic;
		font-weight: bold;
		content: "Fig. " counter(figures) ": ";
	}

hr {
	border: none;
	border-top: 1px solid rgba(0,0,0,0.1);
	margin: 5em 0;
}



/* ******************************
 * Graphs
 * ****************************** */


.slider-wrapper {
	display: inline-block;
	background: #fff;
	padding: 0.4em 0.8em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
}
	.slider-wrapper span {
		font-weight: bold;
		display: inline-block;
		width: 2em;
		text-align: left;
	}
	.slider {
		width: 300px;
		vertical-align: middle;
		margin-right: 6px;
		margin-right: 2em;
	}

svg {
    font-size: 11px;
}
	svg text {
		fill: rgba(0,0,0,0.5);
	    font-family: "Helvetica", sans-serif;
	    font-style: normal;
	    font-weight: bold;
	}

.foreground path {
    fill: none;
    stroke-opacity: .5;
    stroke-width: 1.5px;
}

.foreground path.fade {
    stroke: #000;
    stroke-opacity: .02;
}

.legend {
    font-size: 14px;
}
	.legend text {
		fill: rgba(0,0,0,0.7);
	}
	.legend line {
	    stroke-width: 20px;
	}
	.legend rect {
		fill: none;
	}


.traffic-lights,
.traffic-lights-north,
.traffic-lights-east,
.traffic-lights-south,
.traffic-lights-west {
    stroke: green;
}

.roundabout,
.roundabout-north,
.roundabout-east,
.roundabout-south,
.roundabout-west {
    stroke: blue;
}

.roundabout-quick-right,
.roundabout-quick-right-north,
.roundabout-quick-right-east,
.roundabout-quick-right-south,
.roundabout-quick-right-west {
    stroke: red;
}

.traffic-lights-north,
.roundabout-north,
.roundabout-quick-right-north {
    stroke-dasharray: 3,3;
    opacity: 0.5;
}
.traffic-lights-east,
.roundabout-east,
.roundabout-quick-right-east {
    stroke-dasharray: 10,10;
    opacity: 0.5;
}
.traffic-lights-south,
.roundabout-south,
.roundabout-quick-right-south {
    stroke-dasharray: 20,10,5,5,5,10;
    opacity: 0.5;
}
.traffic-lights-west,
.roundabout-west,
.roundabout-quick-right-west {
    stroke-dasharray: 30,6,0,6;
    opacity: 0.5;
}


.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.trait .axis path, .trait .axis g text {
    display: none;
}
	.trait:nth-child(2n) .axis > text {
		display: none;
	}
	.trait:nth-child(17) .axis * {
	    display: block;
	}
	.axis line, .axis path {
	    fill: none;
	    stroke: #000;
	    shape-rendering: crispEdges;
	}

	.axis text {
	    text-shadow: 0 1px 0 #fff;
	}