html { 
	font-size: 62.5%;
}
body {
	font-family: 'Cambria', 'Georgia', serif;
	font-size: 1.6em;
	line-height: 1.8em;
	color: #333;
	counter-reset: headings figures;
}


h1, h2, h3, h4 {
	font-weight: normal;
}

.container {
	max-width: 900px;
	padding: 0 100px;
	margin: 0 auto;
}

.title {
	text-align: center;
	margin: 15em 0 10em;
}
	.title h1 {
		font-size: 2.8em;
		line-height: 1.8em;
	}
	.title p {
		text-align: center;
		font-size: 1em;
		color: #999;
	}

p {
	text-align: justify;
}


section {
	margin-bottom: 10em;
}
	section .columns {
		-webkit-column-count: 2;
	   	-webkit-column-gap : 4rem;
	}
	section h2 {
		counter-increment: headings;
	}
		section h2:before {
			color: #999;
			content: counter(headings) ". ";
		}


.abstract {
	padding: 0 5em;
	font-size: 1.1em;
	-webkit-column-count: 1;
}

.todo {
	font-size: 0.6em;
	color: #666;
	display: inline-block;
	border: 1px solid rgba(255,0,0,0.5);
	padding: 0 0.5em;
}
	.todo:before {
		content: 'TODO: ';
	}

figure {
	counter-increment: figures;
}
	figcaption:before {
		font-style: italic;
		font-weight: bold;
		content: "Fig. " counter(figures) ": ";
	}


blockquote {
    margin: 0;
}

blockquote:before {
    content: "“";
    position: absolute;
    left: -.4em;
}

blockquote:after {
    content: "”";
    position: absolute;
}

.invert {
    background: #1f1f1f;
    color: #dcdccc;
}

.invert h2, .invert h3 {
    color: #7f9f7f;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

svg {
    font-size: 14px;
}

.foreground path {
    fill: none;
    stroke-opacity: .5;
    stroke-width: 1.5px;
}

.foreground path.fade {
    stroke: #000;
    stroke-opacity: .05;
}

.legend {
    font-size: 18px;
    font-style: oblique;
}

.legend line {
    stroke-width: 2px;
}

.roundabout {
    stroke: #800;
}

.roundabout-quick-right {
    stroke: #080;
}

.traffic-lights {
    stroke: #008;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.trait .axis {
    display: none;
}

.trait:nth-child(4n) .axis, .trait:nth-child(5) .axis {
    display: block;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff;
}