html { 
	font-size: 62.5%;
}
body {
	font-family: 'Cambria', 'Georgia', serif;
	font-size: 1.6em;
	line-height: 1.8em;
	color: #333;
	counter-reset: headings;
}


h1, h2, h3, h4 {
	font-weight: normal;
}

.container {
	max-width: 900px;
	padding: 0 100px;
	margin: 0 auto;
}

.title {
	text-align: center;
	margin: 15em 0 10em;
}
	.title h1 {
		font-size: 2.8em;
		line-height: 1.8em;
	}
	.title p {
		text-align: center;
		font-size: 1em;
		color: #999;
	}

p {
	text-align: justify;
}


section {
	margin-bottom: 10em;
}
	section .content {
		-webkit-column-count: 2;
	   	-webkit-column-gap : 4rem;
	}
	section h2 {
		counter-increment: headings;
	}
		section h2:before {
			color: #999;
			content: counter(headings) ". ";
		}


.abstract {
	padding: 0 5em;
	font-size: 1.1em;
	-webkit-column-count: 1;
}

.todo {
	font-size: 0.6em;
	color: #666;
	display: inline-block;
	border: 1px solid rgba(255,0,0,0.5);
	padding: 0 0.5em;
}
	.todo:before {
		content: 'TODO: ';
	}
